<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>85810699454-7cjpum097tuj92dm13m9lqpblbtsouum.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85810699454-7cjpum097tuj92dm13m9lqpblbtsouum</string>
	<key>API_KEY</key>
	<string>AIzaSyB1UOKLotoou15zAl72D3NtWYhjjHkPagg</string>
	<key>GCM_SENDER_ID</key>
	<string>85810699454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.omermukhtar.busStation</string>
	<key>PROJECT_ID</key>
	<string>bus-schedule-1391b</string>
	<key>STORAGE_BUCKET</key>
	<string>bus-schedule-1391b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85810699454:ios:7f168ce511c2378d4212ef</string>
</dict>
</plist>